In [1]:
import pandas as pd

In [284]:
#app.route("/names")
samples_df = pd.read_csv('belly_button_biodiversity_samples.csv')
samples_list = list(samples_df)
samples_list = samples_list[1:]

In [285]:
#app.route("/otu")
otu_df = pd.read_csv('belly_button_biodiversity_otu_id.csv')
otu_descriptions = otu_df[['lowest_taxonomic_unit_found']]
otu_descriptions.head()

                         lowest_taxonomic_unit_found
0  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4  Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [286]:
#app.rout("/metadata/<sample>")
metadata_df = pd.read_csv('Belly_Button_Biodiversity_Metadata.csv')
metadata_df.head()

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [287]:
def filter_metadata(sample):
    #sample variable takes the format of 'BB_xxx' so need to convert to number format
    sample_num = int(sample.replace('BB_',''))
    metadata_filtered = metadata_df.loc[metadata_df['SAMPLEID']==sample_num]
    metadata_filtered = metadata_filtered[['AGE','BBTYPE','ETHNICITY','GENDER','LOCATION','SAMPLEID']]
    metadata_filtered = metadata_filtered.to_dict('records')
    return metadata_filtered[0]

filter_metadata('BB_945')

{'AGE': 48.0,
 'BBTYPE': 'I',
 'ETHNICITY': 'Caucasian',
 'GENDER': 'F',
 'LOCATION': 'Philidelphia/PA',
 'SAMPLEID': 945}

In [288]:
#app.route("/wfreq/<sample>")
def wfreq_function(sample):
    #sample variable takes the format of 'BB_xxx' so need to convert to number format
    sample_num = int(sample.replace('BB_',''))
    metadata_filtered = metadata_df.loc[metadata_df['SAMPLEID']==sample_num]
    wfreq = metadata_filtered.iloc[0]['WFREQ']
    return int(wfreq)

wfreq_function('BB_943')

1

In [2]:
#app.route("/sample/<sample>")
samples_df = pd.read_csv('belly_button_biodiversity_samples.csv')
samples_df = samples_df[['otu_id','BB_940']].sort_values('BB_940', ascending=0).head(10)
samples_df.rename(columns={'BB_940': 'sample_values'}, inplace=True)

In [3]:
samples_df

      otu_id  sample_values
1166    1167          163.0
2858    2859          126.0
481      482          113.0
2263    2264           78.0
40        41           71.0
1188    1189           51.0
351      352           50.0
188      189           47.0
2317    2318           40.0
1976    1977           40.0

In [4]:
otu_id = samples_df['otu_id'].tolist()
otu_id

[1167, 2859, 482, 2264, 41, 1189, 352, 189, 2318, 1977]

In [5]:
sample_values = samples_df['sample_values'].tolist()
sample_values

[163.0, 126.0, 113.0, 78.0, 71.0, 51.0, 50.0, 47.0, 40.0, 40.0]

In [ ]:
#merge_df = pd.merge(otu_df, samples_df, how='inner', on='otu_id')
#merge_df.head()